imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml
    - tests/Behat/Resources/suites.yml

default:
    calls:
        error_reporting: 8191  # E_ALL & ~(E_DEPRECATED | E_USER_DEPRECATED)
    extensions:
        Behat\MinkExtension:
            base_url: 'http://127.0.0.1'
            default_session: symfony
            sessions:
                symfony:
                    symfony: ~
            show_auto: false

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\ThreeBRS\Sylius404LogPlugin\Kernel
                path: tests/Application/Kernel.php
                environment: test
                debug: true

        FriendsOfBehat\VariadicExtension: ~
