includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        container_xml_path: tests/Application/var/cache/dev/Tests_ThreeBRS_Sylius404LogPlugin_KernelDevDebugContainer.xml

    excludePaths:
        - 'tests/'

    ignoreErrors:
        - '#Cannot cast mixed to int#'
